.fondo{
    width: 100%;
    height: 100vh;
    background: url(../images/inventario.png);
    background-size: cover;
    position:relative;
}
.fondo::after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .7;
}